html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-family: 'Raleway', Helvetica, sans-serif;
  background: url('http://akveo.com/blur-admin/assets/img/blur-bg-blurred.jpg') center 0 fixed;
  background-size: cover;
  padding-bottom: 100px;
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Raleway';
    font-weight: bold;
  }
  p {
    font-family: 'Poppins';
  }
  ul {
    list-style: none;
  }
  a {
    color: $lighter-teal;
    text-decoration: none;
  }
  .navigation {
    width: 100%;
    margin: 0 auto;
    min-height: 100px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    background: rgba(16,35,47, .85);
    #main-nav {
      @include nav-inline;
      text-transform: uppercase;
      font-size: .95em;
    }
    #icons {
      @include nav-inline;
      i {
        font-size: 2em;
        color: $lighter-teal;
        opacity: .7;
        transition: all 1s linear;
        &:hover {
          color: white;
        }
      }
    }
  }
  h2.page-header {
    font-size: 3em;
    color: $bright-yellow;
    opacity: .6;
    text-transform: lowercase;
    margin: 0;
    padding: 10px 0;
    }
  .content {
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
    i.devicon {
      @include devicon-style;
      color: #000;
    }
  }
  h4.intro {
    font-size: 2em;
    color: $bright-yellow;
    margin-top: 0;
  }
  .home {
    i {
      font-size: 8em;
      color: $bright-yellow;
      font-weight: bold;
      width: 100%;
      text-align: center;
      margin: 20px auto;
      opacity: .5;
    }
  }
  .about {
    height: 100%;
    overflow: auto;
    p {
      font-size: 1em;
      font-family: 'Montserrat';
      color: $bright-yellow;
      opacity: .7;
      font-style: oblique;
      line-height: 1.7em;
      padding-top: 0;
    }
  }
  button.cv,
  button.contact {
    @include home-button($lighter-teal, $bright-yellow);
  }
  button.github {
    @include home-button($bright-yellow, $lighter-teal);
  }
  .skills {
    .page-header {
      text-align: right;
    }
    .skill-content {
      padding-bottom: 20px;
      .intro {
        margin-bottom: 0;
        text-align: right;
        opacity: .85;
        font-size: 1.6em;
      }
      .icon-container {
        width: 100%;
        margin-bottom: 40px;
        .code-icons {
          display: flex;
          justify-content: center;
          flex-flow: wrap;
          padding: 15px 0;
          margin: 0 auto;
          text-align: center;
          i.devicon {
            @include devicon-style;
          }
        }
      }
    }
    h4.outro {
      font-size: 1.3em;
      color: rgba(0, 0, 0, .5);
      width: 75%;
      text-align: right;
      float: right;
      line-height: 1.4em;
    }
  }
  span.bright {
    opacity: 1;
    color: $bright-yellow;
    padding-bottom: 5px;
    border-bottom: 2px solid $lighter-teal;
  }
  .contact-modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
  }
  #contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    .field {
      width: 80%;
      margin: 20px auto;
      label {
        color: $light-teal;
        font-size: 1.5em;
        text-transform: lowercase;
        font-variant: small-caps;
        padding-right: 15px;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        width: 60%;
        border: none;
        background: none;
        border-bottom: 1px solid $bright-yellow;
        padding: 7px;
        font-size: .9em;
        color: $lighter-teal;
      }
      textarea {
        height: 100px;
        border: 1px solid $bright-yellow;
      }
    }
    button {
      width: 20%;
      font-size: 1.2em;
      margin-top: 20px;
      color: $bright-yellow;
      padding: 7px;
      background: none;
      border: 1px solid $lighter-teal;
      border-radius: 10px;
      transition: all 1s linear;
      &:hover {
        color: $light-teal;
        background-color: rgba(255, 255, 255, .25);
        border: 1px solid #ccc;
      }
    }
    i {
      font-size: 2em;
      align-self: flex-end;
      padding: 10px;
    }

  }
  .active {
    color: #fff;
  }
  .hidden {
    display: none;
  }
  .block {
    display: block;
  }
}
